// Menu Button Styles
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;
    // Button Line Styles
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 5px 0 5px 0;
        background: set-text-color($primary-color);
        @include easeOut;
    }
    // Rotate and X Menu Button
    &.close {
        transform: rotate(360deg);
        // Menu Button Lines
        .btn-line {
            // Line 1 Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            // Line 2 Hide
            &:nth-child(2) {
                opacity: 0;
            }
            // Line 3 Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

// Menu Overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    // Show Nav Items
    &.show {
        visibility: visible;
    }
    // Add Menu-Branding
    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }
    // Nav Side Styles
    &-nav {
        margin: 0;
        padding: 0;
        background: rgba(darken($primary-color, 5), 0.9);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;
        // Nav Side Show Style To Come In From Top
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    // Picture Side Styles
    &-branding {
        background: rgba($primary-color, 0.9);
        transform: translate3d(0, 100%, 0);
        @include easeOut;
        // Picture Side Show Styles To Come In From Bottom
        &.show {
            transform: translate3d(0, 0, 0);
        }
        // Picture Styles
        .portrait {
            width: 250px;
            height: 250px;
            background: url('/dist/imgs/portrait.jpg');
            border-radius: 50%;
            border: solid 4px $secondary-color;
        }
    }
    // 
    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;
        // Slide In From Right
        &.show {
            transform: translate3d(0, 0, 0);
        }
        // Style Current Page
        &.current>a {
            color: $secondary-color;
        }
    }
    // Nav Link Styles
    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 600;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;
        // Link Hover Styles
        &:hover {
            color: $secondary-color;
        }
    }
}

// Delay Each Nav Item Slide In By 0.1 Seconds
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}