// Import Mixins SCSS
@import 'config';
// Import Menu SCSS
@import 'menu';
// Reset Box Sizing;
* {
    box-sizing: border-box;
}

// Body Styles
body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-header {
        font-size: 6rem;
    }
    &.med-header {
        margin-bottom: 1rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
    &.sml-header {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #ffffff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary-color {
    color: $secondary-color;
}

// Main Styles
main {
    padding: 4rem;
    min-height: calc(100vh - 60px);
    // Icon Styles
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.5rem;
            color: set-text-color($primary-color);
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 25vh;
        }
    }
}


/* About Page Styles */

.about-info {
    display: grid;
    text-align: left;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio''job-1 job-2 job-3';
    grid-template-columns: repeat(3, 1fr);
}

.bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
}

.bio {
    grid-area: bio;
}

.job-1 {
    grid-area: job-1;
}

.job-2 {
    grid-area: job-2;
}

.job-3 {
    grid-area: job-3;
}

.job {
    padding: 0.75rem;
    border: $secondary-color 1px solid;
}

// Footer Styles
#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 5);
    color: set-text-color($primary-color);
    height: 60px;
}

// Import Mobile Media Query
@import 'mobile';