// import mix ins scss
@import 'config';
// import menu scss
@import 'menu';
// Reset Box Sizing;
* {
    box-sizing: border-box;
}

// Body Styles
body {
    @include background;
    background: $primary-color;
    color: #ffffff;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-header {
        font-size: 6rem;
    }
    &.med-header {
        margin-bottom: 1rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
    &.sml-header {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #ffffff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary-color {
    color: $secondary-color;
}

main {
    padding: 4rem;
    height: 100%;
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.5rem;
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 25vh;
        }
    }
}